<nav class="navbar shadow navbar-expand navbar-light bg-light ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="#">На главную<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown ">
        <div class="btn-group " ngbDropdown role="group">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:void(0)">Меню</a>
          <div class="dropdown-menu shadow" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item" routerLink="/structure-company">Структура компании</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/regulatory-document">Нормативные документы</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/supplier">Поставщики</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/mark-resource">Марка материального ресурса</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/resource">Материальный ресурс</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/type-resource">Тип(группа) материального ресурса</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/class-resource">Класс материального ресурса</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/quality-indicator">Качественные характеристики</a>
            <div class="dropdown-divider"><hr></div>
            <a ngbDropdownItem class="dropdown-item" routerLink="/type-material-link"> Связь тип -материальный ресурс</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/class-material-link">Связь класс -материальный ресурс</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/quality-indicator-material-link">Связь Качественные характеристики -материальный ресурс</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/structure-company-material-link">Связь Структура компании-материальный ресурс</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <a class="navbar-brand text-right" href="#"></a>
    <div class="form-inline my-2 my-lg-0">
    </div>
  </div>
</nav>
